target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.env
push-images.ps1
/CLAUDE.md
/CLAUDE_PROMPT_TEMPLATE.md
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/data_source_mapping.xml
/monitoring/grafana/provisioning/datasources/datasources.yml
/docker-compose.kafka.yml
/docker-compose.monitoring.yml
/IMPLEMENTATION_PROGRESS.md
/excel/partners_5000_batch1.xlsx
/partners_5000_batch2.xlsx
/monitoring/prometheus.yml
/monitoring/promtail-config.yml
/.idea/queries/Query.sql
/.idea/queries/Query_1.sql
/.idea/queries/Query_2.sql
/.idea/queries/Query_3.sql
/.idea/queries/Query_4.sql
/RESERVATION_API_DOCUMENTATION.md
/gateway-service/.claude/settings.local.json
/test.html
/excel/users_5000.xlsx
/excel/vehicles_5000.xlsx
/notification-service/src/main/resources/firebase/parkmate-firebase-adminsdk.json
